<img src=" http://www.snvanita.org/images/vanita-header.png "align="left" hight="250" width="250">
<br>
<h2 style="color:brown" align="center"><u>Sarojini Naidu Vanita Maha Vidyalaya, Exhibition Grounds, Hyderabad - 500001. T.S.</u></h2>
<br><br><br><br>
<h3 style="background-color:red"><font style="color:white">Contact Us:</font></h3><hr>
<h4 style="color:Green">Contact Details:</h4>
<h4>Phone Number:</h4>
Ph: 040-29555676
<h4>Email-id</h4>

<a href= "snvmv@rediffmail.com ">snvmv@rediffmail.com</a>