<img src=" http://www.snvanita.org/images/vanita-header.png "align="left"hight="250/">
<h2 align="center" style="color:blue"> Welcome</h2>

<h1 align="center" style="color:rgb(148, 36, 17);"><u>Sarojini Naidu Vanita Maha Vidyalaya
    College in Hyderabad, Telangana</u>
    </h1><br><br>
<h5 align="center" style="color:green"> 9FM9+VMF, exhibition grounds, Nampally, Hyderabad, Telangana</h5>
<hr>
<br><br>
<p><b></b>  Global and US standards. We are home to 1,500 students (aged 12 to 16) and 100 expert faculty and staff. Community representing over 40 different nations. We are proud of our international.</p>
    
        